.inputbr {
    position: relative;
    left: 20%;
    width: 75%;
}

#srcinpt {
   width: 50%;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  #map-canvas {
    width: 100%;
    height: 100%;
  }
  .gm-style-iw {
    text-align: center;
  }

  #map-canvas {
      margin-top: 0%;
      border-style: groove;
      border-width: 10px;
      border-color: whitesmoke;
  }

  .card {
    width: 320px;
    background-color: black;
    color: grey;
  } 

  .ctycrd {
    width: 200px;
    background-color: black;
    color: gray;
    font-size: 30px;
    text-align: center;
  }
  
#temp {
  font-size:  25px;
  margin-top: 5px;
  color: rgb(89, 98, 105);
}
